:root {
  --text-color: rgb(0, 0, 0); /* 기본 텍스트 색상 */
  --background-color: rgb(255, 255, 255); /* 배경 색상 */
  --input-padding: 10px; /* 입력 필드 내부 여백 */
  --button-padding: 10px 20px; /* 버튼 내부 여백 */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  padding: 20px;
  min-height: calc(100vh - 60px); /* 탭 바 높이 제외 */
  width: 100%; /* 전체 너비 사용 */
}
